<html>

<body>
    <header></header>
    <main>
        <div>
            <div class="hero-search">
                <div>
                    <div>
                        <picture>
                            <source type="image/webp"
                                srcset="./media_hero-placeholder.jpeg?width=2000&amp;format=webp&amp;optimize=medium">
                            <img src="./media_hero-placeholder.jpeg?width=2000&amp;format=png&amp;optimize=medium"
                                loading="eager" alt="BMW Used Cars">
                        </picture>
                    </div>
                    <div>
                        <h1>Search All BMW Used Cars</h1>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div class="vehicle-search">
                <div>
                    <div>
                        <p>results-per-page</p>
                    </div>
                    <div>
                        <p>12</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>