<html>

<body>
    <header></header>
    <main>
        <div>
            <div class="hero-search">
                <div>
                    <div>
                        <h1>Search All BMW Used Cars</h1>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="vehicle-search">
                <div>
                    <div>
                        <p>results-per-page</p>
                    </div>
                    <div>
                        <p>12</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>