/* BMW Design System - Font Loading */

/* MINI Brand Fonts */
@font-face {
  font-family: MINISerif-Regular;
  src: url('/fonts/mini_serif-regular-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MINISerif-Regular;
  src: url('/fonts/mini_serif-bold-web.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MINISerif-Regular;
  src: url('/fonts/mini_serif-italic-web.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: MINISerif-Bold;
  src: url('/fonts/mini_serif-bold-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MINISansSerif-Regular;
  src: url('/fonts/mini_sans_serif-regular-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MINISansSerif-Regular;
  src: url('/fonts/mini_sans_serif-bold-web.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
